<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">

<body>
    <footer th:fragment="footer">     
	<!-- Footer -->
		<div class="row">
			<div class="col-12 text-center mb-2">	  			
	  			<a href="#"><i class="fab fa-facebook h3 m-1"></i></a>
	  			<a href="#"><i class="fab fa-instagram h3 m-1"></i></a>
	  			<a href="#"><i class="fab fa-youtube h3 m-1"></i></a>
	  		</div>
		</div>
	  	<div class="row">
	  		<div class="col-12">	  			
	  			<p class="text-center">Este sitio fue hecho por <a href="#">RCGS</a>. Todos los derechos reservados 2021</p>
	  		</div>
	  	</div>	  	
    </footer>
</body>
</html>




